





/*----------------------------------------------------------
    --------------------------------------------------------
                        LOGIN PAGE\
        ----------------------------------------------------
            ------------------------------------------------*/

body {

    background-color: #808080;

}

.mainBlock {
    top: 50%; /* Отступ в процентах от верхнего края окна */
	left: 50%; /* Отступ в процентах от левого края окна */
	width: 500px; /* Ширина блока */
	height: 250px; /* Высота блока */
	position: absolute; /* Абсолютное позиционирование блока */
    margin-left: -250px;
    margin-top: -125px; /* Отрицательный отступ от верхнего края страницы, должен равняться половине высоты блока со знаком минус */
    border: 2px solid #717dc9;
}


.btnLogin{
    width:80%;
    height:60%;
    font-family: "franklin-gothic-urw",sans-serif;
    transition: background-color 300ms ease-out 0s;
    background: #000;
    color: #FFF;
    border: none;
    line-height: 50px;
    font-size: 1em;
    font-weight: 600;
}

button:hover {
    background: #FFF;
    color: #000;
}

/* ------------------------ table in login page -------------------- */

.rowLabUsername {
    width:35%;
    height:83px; 
    background-color:#808080; 
    text-align:center;
}

.rowFieldUsername {
    width:65%;
    height:83px; 
    background-color:#808080; 
    text-align:center
}

.rowLabPassword {
    width:35%;
    height:83px; 
    background-color:#808080; 
    text-align:center
}

.rowFieldPassword {
    width:65%;
    height:83px; 
    background-color:#808080; 
    text-align:center
}

.rowChkRememberLogin {
    width:35%;
    height:83px; 
    background-color:#808080; 
    text-align:center
}

.rowBtnLogin {
    width:65%;
    height:83px; 
    background-color:#808080; 
    text-align:center
}


.textFieldLogin {
    width: 75%;
    height: 40%;
    font-family: "freight-text-pro",serif !important;
    font-style: italic;
    font-size: 1em;
    padding-left: 1em;
    color: #393939;
    border: 1px solid #000;
    transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
}