@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css">
</head>
<body>
    <input id="textFielfLogin" class="textFielfLogin">
    <button id="btnLogin" class="btnLogin"> LOGIN </button>

    <div class="mainBlock">

        <table cellpadding="0" cellspacing="0" width="450" align="center">
            <tr>
                <td colspan="3" class="header">Welcom to the Bug Killer</td>
            </tr>
            <tr>
                <td class="left_col">menu</td>
                <td class="center_col">content content content content content content content content.</td>
                <td class="right_col">links</td>
            </tr>
            <tr>
                <td colspan="3" class="footer">&copy; all rights reserved</td>
            </tr>
        </table> 
    </div>
</body>
</html>



