@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css">
</head>

<body>

    <div class="mainBlock">

        <table class="tableInMainBlock" cellpadding="0" cellspacing="0" width="500" align="center">

            <tr>
                <td class="rowLabUsername">Username</td>
                <td class="rowFieldUsername">
                    <input id="textFielfLogin" class="textFielfLogin">
                </td>
            </tr>

            <tr>
                <td class="rowLabPassword">Password</td>
                <td class="rowFieldPassword">
                    <input id="textFielfLogin" class="textFielfLogin">
                </td>
            </tr>
            
            <tr>
                <td class="rowChkRememberLogin">ChkRememberLogin</td>
                <td class="rowBtnLogin">
                    <button id="btnLogin" class="btnLogin"> LOGIN </button> 
                </td>
            </tr>
          
        </table> 
    </div>
</body>
</html>



