@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css">
</head>
<body>

    <div class="mainBlock">
        <input id="textFielfLogin" class="textFielfLogin">
        <button id="btnLogin" class="btnLogin"> LOGIN </button>
    </div>
</body>
</html>



