@{
    ViewBag.Title = "LoginPage";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css">
</head>

<body>

    <div class="mainBlock">

        <table class="tableInMainBlock" cellpadding="0" cellspacing="0" width="500" align="center">

            <tr>
                <td class="rowLabUsername">Username</td>
                <td class="rowFieldUsername">
                    <input id="textFieldLogin" class="textFieldLogin">
                </td>
            </tr>

            <tr>
                <td class="rowLabPassword">Password</td>
                <td class="rowFieldPassword">
                    <input id="textFieldLogin" class="textFieldLogin">
                </td>
            </tr>

            <tr>
                <td class="rowChkRememberLogin">
                   
                     <label class="checkbox" for="checkbox2">
                        <input id="checkbox2" class="custom-checkbox" type="checkbox" data-toggle="checkbox" value="Remember" checked="checked">
                        <span class="icons">
                            <span class="icon-unchecked"></span>
                            <span class="icon-checked"></span>
                        </span>
                        Remember me
                    </label>

                </td>

                <td class="rowBtnLogin">
                    <button id="btnLogin" class="btnLogin"> LOGIN </button>
                </td>
            </tr>

        </table>
    </div>
</body>
</html>

